<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Todo List</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


<div id="app">

<h1>COSE DA FARE OGGI</h1>

    <ul class="lista">
        <li v-for="(elemento, indice) in todos" >
            <span  @click="doneTodo(indice)" :class="elemento.done == true ? 'done' : '' ">{{elemento.text}}</span>  
            <span @click="deleteTodo(indice)">&#10060;</span>
        </li>
    </ul>
    <hr>
    <div class="input-container">
        <input type="text" v-model="newTodo.text" @keyup.enter="createTodo()">
        <button @click="createTodo()">AGGIUNGI</button>
    </div>

</div>


    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>